<main class="main">
  <div class="inner">
    <div class="menu__wrapper">
      <div class="menu__hedding">
        <%= @menu.product_name %>
      </div>
      <div class="pb-5 mt-2 mb-5 menu__content">
        <div class="menu__image">
          <%= image_tag(@menu.image, width:"400", height:"300") %>
        </div>
        <div class="menu__detail">
          <p class="detail__title">商品説明</p>
          <p class="detail__message">
            <%= @menu.product_description %>
          </p>
        </div>
        <div class="menu__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message">
            <%= @menu.product_category.name %>
          </p>
        </div>
        <div class="menu__detail">
          <p class="detail__title">料金</p>
          <p class="detail__message">
            ¥ <%= @menu.price %>
          </p>
        </div>
        <div class="menu__detail">
          <p class="detail__title">
            <% if user_signed_in? && current_user != @menu.user %>
              <%= link_to "購入画面に進む","#", class:"item-btn" %>
            <% else %>
              <%= link_to "商品情報を編集する", edit_menu_path(@menu), method: :get, class:"item-btn" %>
              <%= link_to "商品情報を削除する", menu_path(@menu), method: :delete, class:"item-btn" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
